* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ETIQUETAS*/
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0.2rem 2rem;
    align-items: center;
    background-color: #3863BF;
    border-bottom: 1px solid #050a0a;
    color: aliceblue;
    z-index: 1;
}
body {
    font-family: "Roboto Condensed", sans-serif;
}
ul {
    
    list-style-type: none;
}
footer {
    bottom: 0%;
}
/*HEADER*/
.header__img {
    width:200px;
    margin-left: 8rem;
}
.header__nav ul li {
    display: inline-block;
    padding-left: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
}
.header__nav {
margin-right: 8rem;
}
.nav__link {
    color:aliceblue;
    text-decoration: none;
}
/*CUERPO*/
main {
    background-image: url(/Users/agustinbrignoni/Desktop/Agustin/Clases/nuevo_proyecto/images/back_hero.jpg);
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Signika Negative', sans-serif;
}
.top_part {
    padding: 2.5rem 20rem;
}
.hero__img {
    width: 350px;
    transform: translate(10px, 20px);
}
.hero__img:hover {
    width: 390px;
}
.hero{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #e6eeff;
    padding: 0.5rem;
    gap:2rem;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    flex-wrap: wrap-reverse;

}
.hero__left {
    font-size: 1rem;
    margin-top: 1.2rem;
    display: block;
    color:#3863BF;
    padding-left: 2rem;
    padding-right: 4rem;
    max-width: fit-content;
}
.left__p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*BOTON REDES*/
.redes {
    width:200px;
    display:flex;
    border: 1px solid #3863BF;
    border-radius: 10px;
    gap:1rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    background-color:#3863BF;
}
.redes__insta__user {
    padding-top: 1rem;
    align-items: center;
    font-size: 1rem;
}
.redes__insta__link {
    text-decoration: none;
    color: aliceblue;
}
.redes__logo {
    color: #ffffff;
}
.redes__insta {
    font-size: 3rem;

}
.hero__right {
    padding-right: 2rem;
}
/*TARJETAS PRODUCTOS*/
.productos {
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.producto_v1 {
    margin: 1rem;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
    text-align: center;
    background-color: #e6eeff;
}
.prod__img {
    width: 300px;
}
.prod__title {
    padding-bottom: 1rem;
}
.prod__p {
    padding-top:1rem;
}
/*FOOTER*/
.footer {
    display: flex;
    background: rgb(185,183,215);
    /*GRADIENT*/
    background: radial-gradient(circle, rgba(185,183,215,1) 0%, rgba(49,35,225,1) 0%, rgba(122,188,255,1) 100%);
    justify-content: space-evenly;
    padding: 1.5rem 5rem;
    margin-bottom: 0.5rem;
    color: #e3eaf6;
}
.footer__link {
    color: #e3eaf6;
}
.footer__left {
    text-align: center;
}

@media (max-width:600) {
    body {
        display:flex;
        font-size: larger;
    }
    .productos {
        display:flex;
    }
}